html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #a6a6a6;
  color: #2e2e2e;
  overflow-x: hidden;
  cursor: none;
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
