.gallery {
  padding: 4rem 2rem;
  background-color: transparent;
  text-align: center;
  color: #fff;
}

.gallery .list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.gallery .item {
  display: flex;
}

.gallery .item.left {
  justify-content: flex-start;
}

.gallery .item.right {
  justify-content: flex-end;
}

.gallery .item img {
  width: 300px;
  border-radius: 8px;
}
